<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: title}); %>
</head>
<body onload="generateOutfit('<%= userId %>')">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <!-- Display message -->
        <div id="message_fade" class="success"><%= message %></div>

        <!-- Display logged in user's name -->
        <h1>Welcome <%= userName %></h1>
        <div>
            <div id="weather_output">
                <p>Today will be a high of <span id='temp'></span>&deg;F</p>
            </div>

            <h2>Today's Outfit</h2>
            
            <div id="outfit_output">
                
            </div>
            <button class="button" type="button" onclick="generateOutfit('<%= userId %>')">Next Option</button>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer', {dateString: dateString}); %>
    </footer>
</body>
</html>