<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: title}); %>
    
    

    <!--TODO: get app to connect to static files and use clothing.js-->
    <script>
        function generateOutfit(userId, warmRating) {
            console.log("Generating new outfit...");

            $.post("/generate", {userId:userId, warmRating:warmRating}, function(outfit) {
                console.log("back from server with:");
                console.log(outfit);
                // append to output div
                $("#outfit_output").empty();
                $("#outfit_output").append("<p>" + outfit.clothes[0].clothingtype + "</p>");
                $("#outfit_output").append("<p>" + outfit.clothes[1].clothingtype + "</p>");
            })
        }
    </script>
</head>
<!--TODO: repalce userId and warmRating hardcoded values-->
<body onload="generateOutfit(1, 5)">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <!-- Display message -->
        <div id="message_fade"><%= message %></div>

        <!-- Display logged in user's name -->
        <h1>Welcome <%= userName %></h1>
        <div>
            <div id="weather_output">

            </div>

            <h2>Today's Outfit</h2>
            
            <div id="outfit_output">
                
            </div>
            <!--TODO: repalce userId and warmRating hardcoded values-->
            <button type="button" onclick="generateOutfit(1, 5)">Next Option</button>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer', {dateString: dateString}); %>
    </footer>
</body>
</html>