<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: title}); %>
</head>
<!--TODO: replace userId hardcoded value-->
<body onload="generateOutfit(1)">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <!-- Display message -->
        <div id="message_fade"><%= message %></div>

        <!-- Display logged in user's name -->
        <h1>Welcome <%= userName %></h1>
        <div>
            <div id="weather_output">
                <p>Today will be a high of <%= temp %>&#8457;</p>
            </div>

            <h2>Today's Outfit</h2>
            
            <div id="outfit_output">
                
            </div>
            <!--TODO: repalce userId hardcoded value-->
            <button type="button" onclick="generateOutfit(1)">Next Option</button>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer', {dateString: dateString}); %>
    </footer>
</body>
</html>